.about {
    position: relative;
}
.about .container {
    position: relative;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.about .container h1{
    text-align-last: left;
}
.about .profile {
    width: 400px;
    text-align: center;
}
.about .profile img {
    z-index: -1;
    width: 90%;
    border-radius: 50%;
    user-select: none;
}

.about .aboutme {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    width: 55%;
}

.sendMail {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right,#6C5FD3, #4837C8);
    transition: all 0.8s ease-in;
}
.sendMail:hover {
    background-image: linear-gradient(to right,#3f2dc5, #382c92);
}