.about {
    position: relative;
}
.about .container {
    position: relative;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .profile {
    width: 400px;
    text-align: center;
}
.about .profile img {
    z-index: -1;
    width: 90%;
    border-radius: 50%;
    filter: grayscale(0%);
    transition: 0.5s;
    user-select: none;
}
.about .profile img:hover {
    filter: grayscale(50%);
}

.about .aboutme {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    width: 55%;
}
.social-about {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    margin: 10px 0;
}
.social-about i {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 10px;
    margin-left: 0;
    color: black;
    font-size: 2rem;
    transition: 0.5s;
}
.social-about i:hover {
    filter: hue-rotate(30deg);
}
.social-about .bxl-facebook-circle{
    color: #1196F5;
}
.social-about .bxl-twitter{
    color: #1DA1F2;
}
.social-about .bxl-youtube{
    color: red;
}