.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.home h1 {
    text-align: center;
    font-size: 4rem;
}

.home p {
    text-align: center;
}
.github{
    text-decoration: none;
}
.github i{
    color: white;
}

.bxl-github{
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}