@media screen and (max-width:1100px) {
    .myproject {
        grid-column-end: span 6;
    }
}
@media screen and (max-width:900px) {
    /* Header Section  */
    header {
        padding: 10px 0;
    }
    /* Menu Section  */
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #000;
        font-size: 40px;
    }
    nav {
        display: none;
    }
    header .container{
        width: 100%;
    }
    nav.active {
        position: absolute;
        top: 70px;
        left: 0;
        display: block;
        z-index: 10;
        background-color: #fff;
        box-shadow: 1px 1px 2px #eee;
        width: 100%;
        text-align: center;
    }
    nav.active .nav-items{
        display: block;
    }
    nav.active .nav-items li {
        margin: 0;
        padding: 0;
    }
    nav.active .nav-items li a{
        margin: 0;
        text-align: center;
    }
    /* Home Section */
    .home h1 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    /* About Section */
    .about .container {
        margin-top: 10px;
        height: auto;
        flex-direction: column;
    }
    .about .aboutme {
        height: auto;
        width: 100%;
    }

    /* Skills Section  */
    .skills .container .skill {
        width: 90%;
    }
    .divider{
        padding-bottom: 40px;
    }
}

@media screen and (max-width:750px) {
    .myproject {
        grid-column-end: span 12;
    }
    .gallery_container .gallery_box:nth-child(2) {
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media screen and (max-width:500px) {
    .about .profile {
        width: 90%;
        margin-bottom: 20px;
    }
    .myprojects{
        display: block;
        width: 100%;
    }
    .myproject {
        width: 100%;
        margin: 10px 0;
    }
    .social-about {
        padding: 10px 0;
        margin: 0;
    }
}