@media screen and (max-width:900px) {
    /* Menu Section  */
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #000;
    }
    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: '\f00d';
    }
    nav {
        display: none;
    }
    header .container{
        width: 100%;
    }
    nav.active {
        position: absolute;
        top: 70px;
        display: block;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 1px 2px #eee;
        width: 100%;
    }
    nav.active .nav-items{
        display: block;
    }
    nav.active .nav-items li a{
        margin: 0;
        text-align: center;
    }
    /* Home Section */
    .home h1 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    /* About Section */
    .about .container {
        height: auto;
        flex-direction: column;
    }
    .about .aboutme {
        height: auto;
        width: 100%;
    }

    /* Skills Section  */
    /* .skills{

    } */
}

@media screen and (max-width:500px) {
    .about .profile {
        width: 90%;
    }
}