.skills {
    position: relative;
}

.skills .container {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .container h1 {
    padding: 5px 0;
    margin: 5px 0 10px 0;
}
.skills .container .skill {
    width: 70%;
    margin: 5px 0;
}

.skills .container .skill .skillName{
    color: #000;
    padding-bottom: 3px;
}
.skills .container .skill .skillCont{
    width: 100%;
    height: 2rem;
    background-color: #eee;
    border-radius: 10px 5px 5px 10px;
    user-select: none;
}

.skills .container .skill .skillCont .skillProgress{
    border-radius: 5px;
    background-image: linear-gradient(#6C5FD3, #4837C8);
    height: 100%;
    width: var(--skill);
    line-height: 2rem;
    padding-left: 5px;
    color: #fff;
}

.html {
    --skill: 90%;
}
.css {
    --skill: 65%;
}
.js {
    --skill: 85%;
}
.php {
    --skill: 80%;
}
.nodejs {
    --skill: 70%;
}