*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.clearfix{
    clear: both;
}

::selection{
    background: #eee;
    color: #000;
}

.mark{
    background-color: #ddd;
    padding: 0 5px;
}

.container {
    width: 85%;
    margin: auto;
}

a{
    text-decoration: none;
}