*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.clearfix{
    clear: both;
}

::selection{
    background: #eee;
    color: #000;
}

.mark{
    background-color: #ddd;
    padding: 0 5px;
    cursor: pointer;
    font-weight: 500;
}

.container {
    width: 85%;
    margin: auto;
}

a{
    text-decoration: none;
}

.divider{
    display:block;
    padding-top: 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

header h1,
.home h1 {
    text-transform: initial;
}